<footer class='component footer'>
    <div class='wrapper'>
        <div class='footer-nav'>
            
            <div class='footer-nav-group'>
                <a href='#' class='footer-nav-category' title=''>Category</a>
                <ul class='footer-nav-list'>
                    <li><a href='#' title=''>Position 1</a></li>
                    <li><a href='#' title=''>Position 2</a></li>
                    <li><a href='#' title=''>Position 3</a></li>
                    <li><a href='#' title=''>Position 4</a></li>
                    <li><a href='#' title=''>Position 5</a></li>
                </ul>
            </div>          
            
            <div class='footer-nav-group'>
                <p class='footer-nav-category'>Category</p>
                <ul class='footer-nav-list'>
                    <li><a href='#' title=''>Position 1</a></li>
                    <li><a href='#' title=''>Position 2</a></li>
                    <li><a href='#' title=''>Position 3</a></li>
                    <li><a href='#' title=''>Position 4</a></li>
                    <li><a href='#' title=''>Position 5</a></li>
                </ul>
            </div>          
            
            <div class='footer-nav-group'>
                <a href='#' class='footer-nav-category' title=''>Category</a>
                <ul class='footer-nav-list'>
                    <li><a href='#' title=''>Position 1</a></li>
                    <li><a href='#' title=''>Position 2</a></li>
                    <li><a href='#' title=''>Position 3</a></li>
                    <li><a href='#' title=''>Position 4</a></li>
                    <li><a href='#' title=''>Position 5</a></li>
                </ul>
            </div>              
            
            <div class='footer-nav-group'>
                <a href='#' class='footer-nav-category' title=''>Category</a>
                <ul class='footer-nav-list'>
                    <li><a href='#' title=''>Position 1</a></li>
                    <li><a href='#' title=''>Position 2</a></li>
                    <li><a href='#' title=''>Position 3</a></li>
                    <li><a href='#' title=''>Position 4</a></li>
                    <li><a href='#' title=''>Position 5</a></li>
                </ul>
            </div>

        </div>
        <div class='footer-copyright'>
            <span>2018 Front-end Development - Studia podyplomowe Wi PB</span> 
        </div>
    </div>
</footer>
