<section class='component graphic'>
    <div class="wrapper">
        <h2>Category</h2>
    </div>
    <figure class='graphic__inner'>
        <picture>
            <source srcset="/img/flaming1920.jpg" media="(min-width: 1200px)">
            <source srcset="/img/flaming1536.jpg" media="(min-width: 768px)">
            <source srcset="/img/flaming860-p.jpg" media="(orientation: portrait)">
            <img class="graphic__img" src="/img/flaming742.jpg" alt="Flaming">
        </picture>
        <figcaption class="wrapper graphic__hdr">
            <h3>Flaming chodzący w wodzie</h3>
            <p>Długość ciała 80-145 cm, przy czym samce są większe od samic[4]. Flamingi posiadają długą szyję wygiętą na kształt "S" i długie nogi. Skrzydła długie i zaostrzone. Palce w liczbie 3 lub 4 połączone są błoną pławną. Mimo swojej budowy dobrze latają, potrafią również pływać, co czynią jednak głównie osobniki młode. W locie nogi i szyja wyciągnięte. Dziób świadczy o wysokiej specjalizacji pokarmowej. Gdy ptak zagłębi go w wodzie, językiem przepycha wodę, a umieszczone pod górną szczęką blaszki (lamella) wychwytują pożywienie, np. glony i fragmenty roślin. Osobniki młode posiadają proste dzioby i są karmione wydzieliną z wola.</p>
        </figcaption>
    </figure>
</section>