<header class='header' data-js="header">
    <div class='wrapper'>

        <a href='#' class='header-logo'>
            <img src='/img/wild-things60.png' srcset='/img/wild-things120.png 2x,/img/wild-things180.png 3x' alt='Wild Things'>
        </a>
        
        <ul class='header-nav'>
            <li>
                <a href='#'>Category 1</a>
            </li>
            <li>
                <a href='#'>Category 2</a>
            </li>
            <li>
                <a href='#'>Category 3</a>
            </li>
            <li>
                <a href='#'>Category 4</a>
            </li>
            <li>
                <a href='#'>Category 5</a>
            </li>
        </ul>

        <button class='header-menu-btn' data-menu-btn>
            <span></span>
            <span></span>
            <span></span>
        </button>

    </div>
</header>