<section class='component hero'>
    <div class='wrapper'>
        <div class='hero-cont hero-cont--test-shadow'>
            <h1>Hero baner Poppins</h1>
            <p>Lorem ipsum dolor sit amen</p>
            <a href='#' class='btn'>button<i class="fi flaticon-next"></i></a>
        </div>
        <!--  2 opcja, gdy tworzymy pod CMS  -->
        {# 
        <div class='hero-cont'>
            <h1 class='hero-header'>Hero baner Poppins</h1>
            <div class='hero-text'>
                <p>Lorem ipsum dolor sit amen</p>
            </div>
            <a href='#' class='btn hero-btn'>button</a>
        </div> 
        #}

    </div>
</section>
