{# full width wrapper #}
<section class="component slider">
    
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="wrapper">
                    <div class='slide-text'>
                        <h3>slide 1</h3>
                        <p>Lorem ipsum</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="wrapper">
                    <div class='slide-text'>
                        <h3>slide 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="wrapper">
                    <div class='slide-text'>
                        <h3>slide 1</h3>
                        <p>Lorem ipsum</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>



    </div>
</section>