<section class='component svg'>
    <div class='wrapper'>
        <h2>Category</h2>

        <div class='svg__cont'>
            <div class="glyph svg__box">
                <svg class="icon">
                    <use xlink:href="#warehouse"></use>
                </svg>
                <div class="class-name svg__title">#warehouse</div>
            </div>
            <div class="glyph svg__box">
                <svg class="icon">
                    <use xlink:href="#bag"></use>
                </svg>
                <div class="class-name svg__title">#bag</div>
            </div>
            <div class="glyph svg__box">
                <svg class="icon">
                    <use xlink:href="#delivery-truck"></use>
                </svg>
                <div class="class-name svg__title">#delivery-truck</div>
            </div>
            <div class="glyph svg__box">
                <svg class="icon">
                    <use xlink:href="#business"></use>
                </svg>
                <div class="class-name svg__title">#business</div>
            </div>
        </div>
        
    </div>
</section>