<section class='component video' data-video>
    <div class='wrapper'>

        <div class='video-cont'>
            {# loop/autoplay/ #}
            <video>
                <source src="https://cez2.wi.pb.edu.pl/moodle/pluginfile.php/21943/mod_resource/content/1/lioness.mp4" type="video/mp4">
                <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
        </div>

        <h2 class='video-header'>Video element</h2>

        <div class='video-controls'>
            <button class='video-controls-play' data-play-btn><i class="fi flaticon-play"></i></button>
            <button class='video-controls-pause' data-pause-btn><i class="fi flaticon-pause"></i></button>
        </div>
        <div class='video-progress' data-progress></div>

    </div>
</section>